# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.env
venv/
ENV/
.env

# Node
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/
